<!-- Flights#show -->

<h1><%= @flight.airline_name %>: <%= @flight.number %></h1>
<p>Date: <%= @flight.date %></p>
<p>Time: <%= @flight.time %></p>
<p>Departure: <%= @flight.departure %></p>
<p>Arrival: <%= @flight.arrival %></p>

<h3>Adult Passengers: <%= @flight.adults.count %></h3>
<ul>
  <% @flight.adults.each do |adult| %>
    <li><%= adult.name %></li>
  <% end %>
</ul>

<h3>Minors: <%= @flight.minors.count %></h3>
<ul>
  <% @flight.minors.each do |minor| %>
    <li><%= minor.name %></li>
  <% end %>
</ul>
