<!-- Flights#show -->

<h1><%= @flight.airline_name %>: <%= @flight.number %></h1>
<p>Date: <%= @flight.date %></p>
<p>Time: <%= @flight.time %></p>
<p>Departure: <%= @flight.departure %></p>
<p>Arrival: <%= @flight.arrival %></p>

<h3>Passengers</h3>
<p>Adult Passengers: <%= @flight.count_of_adults %></p>
<p>Minors: <%= @flight.count_of_minors %></p>

<ul>
  <% @flight.passengers.each do |passenger| %>
    <li><%= passenger.name %></li>
  <% end %>
</ul>
